.container {
    background-color: white;
    position: relative;
    box-shadow: 0 0 5px 1px gray;
    top: 20%;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.name {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.field {
    display: block;
}
