.div {
    display: flex;
}

.form {
    position: relative;
}

.ul {
    width: calc(100% + 41px);
    position: absolute;
    overflow-y: scroll;
    background-color: white;
    max-height: 200px;
    box-shadow: 0px 0px 1px 0px;
}

.input {
    padding: 5px;
    border: 1px solid gray;
    border-right: none;
}

.icon {
    border: 1px solid gray;
    border-left: none;
    padding: 0 5px;
}
