.list {
    background-color: white;
    position: absolute;
    overflow: scroll;
    width: 100%;
}

.item {
    padding: 5px 5px;
    border-color: #999999;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    cursor: pointer;
}

.item:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease;
}