.ul {
    background-color: white;
    list-style: none;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 5px gray;
    z-index: 100;
}

.li {
    margin-left: 20px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
